{#
/**
 * @file contact_detail.html.twig
 * Default theme implementation to present Contact detail data.
 *
 * This template is used when viewing Contact detail pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_contact_detail()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('contact_detail') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
