{#
/**
 * @file dependents.html.twig
 * Default theme implementation to present Dependents data.
 *
 * This template is used when viewing Dependents pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dependents()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dependents') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
