{#
/**
 * @file education_detail.html.twig
 * Default theme implementation to present Education detail data.
 *
 * This template is used when viewing Education detail pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_education_detail()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('education_detail') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
