{#
/**
 * @file emergency_contact.html.twig
 * Default theme implementation to present Emergency contact data.
 *
 * This template is used when viewing Emergency contact pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_emergency_contact()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('emergency_contact') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
