
<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form',{'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item active">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
    <section class="col-sm-9">
        {# ################################## Salary Details Form Starts ################################### #}
        <div class="panel panel-primary" id="salary-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Salary Detail' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="salary-detail-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                        <input type="hidden" id="id" value=""/>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-sm-2" for="pay_grade"> 
                            {{ 'Pay Grade' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="pay-grade"  type="text" name="pay_grade" value="">
                        </div>
                        <label class="col-sm-2" for="salary_component"> 
                            {{ 'Salary Component' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="salary-component"  type="text" name="salary_component" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2" for="pay_frequency"> 
                            {{ 'Pay Freequency' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select id="pay_frequency" class="form-control" name="pay_frequency">
                                {% for pay_frequency in pay_frequeicies %}
                                    <option value="{{ pay_frequency.name.value }}"> {{ pay_frequency.name.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-2" for="currency"> 
                            {{ 'Currency' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select id="currency" class="form-control" name="currency">
                                {% for currency in currencies %}
                                    <option value="{{ currency.name.value }}"> {{ currency.name.value }} </option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="amount"> 
                            {{ 'Amount' |t }}
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-usd"></span>
                                </span>
                                <input class="form-control" id="amount"  type="text" name="amount" value="">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="comment"> 
                            {{ 'Comments' |t }}
                        </label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="comment" rows="5" name="comment" value=""></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="checkbox col-sm-4">
                            <label id=direct-deposit-detail-checkbox" data-toggle="collapse" data-target="#direct-deposit-detail">
                                <input name="direct_deposit_detail_checkbox" type="checkbox" checked="" /> {{ 'Add Direct Deposit Details' |t }}
                            </label>
                        </div>

                    </div>  

                    <div id="direct-deposit-detail" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-2" for="account_number"> 
                                    {{ 'Account Number' |t }}
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="account-number"  type="text" name="account_number" value="">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2" for="account_type"> 
                                    {{ 'Account Type' |t }}
                                </label>
                                <div class="col-sm-4">
                                    <select id="account-type" class="form-control" name="account_type">
                                        <option value="saving">{{ 'Saving' |t }}</option>
                                        <option value="checking">{{ 'Checking' |t }}</option>
                                        <option value="other">{{ 'Other' |t }}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2" for="routing_number"> 
                                    {{ 'Routing Number' |t }}
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="routing-number"  type="text" name="routing_number" value="">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2" for="amount"> 
                                    {{ 'Amount' |t }}
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-usd"></span>

                                        </span>
                                        <input class="form-control" id="direct-deposit-amount"  type="text" name="direct_deposit_amount" value="">
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-success" id="save-salary">{{ 'Save' |t }} </button>
                    <button type="submit" class="btn btn-info" id="cancel-salary">{{ 'Cancel' |t }} </button>
                </div>
            </form>
        </div>
        {# ################################## Salary Details Form Ends ################################### #}
        {# ################################## Salary Details Grid Starts ################################### #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Assigned Salary Components' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-salary">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger" id="delete-salary">{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all"></th>
                                    <th> {{ 'Pay Grade' |t }}
                                    <th>{{ 'Salary Component' |t }}</th>
                                    <th>{{ 'Pay Freequency' |t }} </th>
                                    <th> {{ 'Currency' |t }} </th>
                                    <th>{{ 'Amount' |t }} </th>
                                    <th> {{ 'Comments' |t }} </th>


                                </tr>
                            </thead>
                            {% if salaries is not empty %}
                                {% for salary in salaries %}
                                    <tr>
                                        <td><input type="checkbox" class="checkbox" value="{{ salary.id }}" name="delete_salary_checkbox[]"></td>
                                        <td id="pay-grade-{{salary.id }}"><a id="pay-grade" href="javascript:void(0)" > {{ salary.pay_grade |e }} </a></td>
                                        <td id="salary-component-{{ salary.id }}">{{ salary.salary_component |e }} </td>
                                        <td id="pay-frequency-{{ salary.id }}"> {{ salary.pay_frequency |e }} </th>
                                        <td id="currency-{{ salary.id }}">{{ salary.currency |e }} </td>
                                        <td id="amount-{{ salary.id }}"> {{ salary.amount |e }} </td>
                                        <td id="comment-{{ salary.id }}"> {{ salary.comment |e }} </td>

                                        <td id="account-number-{{ salary.id }}" class="hidden"> {{ salary.account_number |e }} </th>
                                        <td id="account-type-{{ salary.id }}" class="hidden">{{ salary.account_type |e }} </td>
                                        <td id="routing-number-{{ salary.id }}" class="hidden"> {{ salary.routing_number |e }} </td>
                                        <td id="direct-deposit-amount-{{ salary.id }}" class="hidden"> {{ salary.direct_deposit_amount |e }} </td>

                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7">
                                        <p>    {{ 'No Salary Component Added' |t }} </p>
                                    </td>
                                </tr>  

                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# ################################## Salary Attachment Form Starts ################################### #}
        <div class="panel panel-primary" id="salary-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="salaryattachment-form">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="salary-file-comment"  name="comment" value="" rows="5"></textarea>

                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="upload-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-attachment">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        {# ############################## Salary Attachemtnt Grid Starts ################################## #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Attachments' |t }}
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn  btn-success" id="add-salary-attachement">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn  btn-danger" id="delete-salary-attachement">{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>{{ 'File Name' |t }}</th>
                                    <th>{{ 'Description' |t }} </th>
                                    <th> {{ 'Size' |t }} </th>
                                    <th> {{ 'Type' |t }}</th>
                                    <th>{{ 'Date Added' |t }}</th>
                                    <th>{{ 'Added By' |t }}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ 'Name' |t }}</td>
                                <td>{{ 'Relationship' |t }} </td>
                                <td> {{ 'Home Telephone' |t }} </td>
                                <td> {{ 'Mobile' |t }}</td>
                                <td>{{ 'Work Telephone' |t }}</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>                
        {# ############################## Salary Attachemtnt Grid Ends ################################## #}
    </section>
</div>
