
<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form',{'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item active">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
    <section class="col-sm-9">
        {# ################################# Dependent Form Starts ############################ #}
        <div class="panel panel-primary" id="dependent-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Dependents Detail' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="dependent-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                    {% endif %}

                    <input type="hidden" id="id" value="" name="id">

                    <div class="form-group">
                        <label class="col-sm-2" for="{{ 'Name' |t }}"> 
                            {{ 'Name' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="name" placeholder="{{ 'Name' |t }}" type="text" name="name" value="">
                        </div>
                        <label class="col-sm-2" for="{{ 'Relationship' |t }}">
                            {{ 'Relationship' |t }}
                        </label>

                        <div class="col-sm-4">

                            <input class="form-control" id="relationship" placeholder="{{ 'Relationship' |t }}" type="text" name="relationship" value="">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="{{ 'Date of Birth' |t }}"> 
                            {{ 'Date of Birth' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="birth-date" placeholder="{{ 'Date of Birth' |t }}" type="text" name="birth_date" value="">
                        </div>

                    </div>


                </div>


                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="save-dependent">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info " id="cancel-dependent">{{ 'Cancel' |t }} </button>


                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ################################# Dependent Form Ends ############################ #}
        {# ################################# Dependent Grid Starts ############################ #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Assigned Dependents' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-dependent">{{ 'Add' |t }} </button>
                    <button type="submit" class="btn btn-danger" id="delete-dependent" disabled>{{ 'Deletel' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all"></th>
                                    <th>{{ 'Name' |t }}</th>
                                    <th>{{ 'Relationship' |t }} </th>
                                    <th> {{ 'Date of Birth' |t }} </th>

                                </tr>
                            </thead>
                            {% for dependent in dependents %}
                                <tr>
                                    <td><input name="delete_dependent_checkbox[]" type="checkbox" class="checkbox" value="{{ dependent.id }}"></td>
                                    <td id="name-{{ dependent.id }}"><a id="dependent-name" href="javascript:void(0)">{{ dependent.name |t }}</a></td>
                                    <td id="relationship-{{ dependent.id }}"> {{ dependent.relationship |t }} </td>
                                    <td id="birth-date-{{ dependent.id }}"> {{ dependent.birth_date |t }} </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# ################################# Dependent Grid Ends ############################ #}
        {# ################################# Dependent Attachment Form Starts ############################ #}
        <div class="panel panel-primary" id="dependent-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="dependent-form">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>
                    </div>
                        <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="dependent-comment" placeholder="{{ 'Comment' |t }}"  name="dependent_comment" value="" rows="5"></textarea>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="upload-dependent-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-dependent-attachment">{{ 'Cancel' |t }} </button>


                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ################################# Dependent Attachment Form Starts ############################ #}
        {# ################################# Dependent Attachment Grid Starts ############################ #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Attachments' |t }} </h3>
            </div>
            <div class="panel-body">  
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success btn-success" id="add-dependent-attachement">{{ 'Add' |t }} </button>
                    <button type="submit" class="btn btn-danger" id="delete-dependent-attachment">{{ 'Deletel' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>{{ 'File Name' |t }}</th>
                                    <th>{{ 'Description' |t }} </th>
                                    <th> {{ 'Size' |t }} </th>
                                    <th> {{ 'Type' |t }}</th>
                                    <th>{{ 'Date Added' |t }}</th>
                                    <th>{{ 'Added By' |t }}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ 'Name' |t }}</td>
                                <td>{{ 'Relationship' |t }} </td>
                                <td> {{ 'Home Telephone' |t }} </td>
                                <td> {{ 'Mobile' |t }}</td>
                                <td>{{ 'Work Telephone' |t }}</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>                
        {# ################################# Dependent Attachment Grid Ends ############################ #}
    </section>
</div>
