
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-tasks"></i>
                {{ 'Add Employee' |t }}
            </h3>
        </div>
        <form role="form" class="form-horizontal" enctype="multipart/form-data">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2" for="{{ 'full-name' |t }}"> {{ 'Full Name' |t }}</label>
                    <div class="col-sm-3"><input class="form-control" id="first-name" placeholder="{{ 'First Name' |t }}" type="text" name="first-name"></div>
                    <div class="col-sm-3"><input class="form-control" id="middle-name" placeholder="{{ 'Middle Name' |t }}" type="text" name="middle-name"></div>
                    <div class="col-sm-3"><input class="form-control" id="last-name" placeholder="{{ 'Last Name' |t }}" type="text" name="last-name"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="employee-id">{{ 'Employee ID' |t }}</label>
                    <div class="col-sm-3"><input class="form-control" id="employee-id" placeholder="{{ 'Employee ID' |t }} " type="text"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="file">{{ 'Photograph' |t }}</label>
                    <div class="col-sm-3"><input  class="form-control" id="photograph" type="file" name="photograph">
                        <small>{{ 'Accepts jpg, .png, .gif up to 1MB. Recommended dimensions: 200px X 200px' |t }}</small>
                    </div>

                </div>

                <div class="form-group">
                    <div class="checkbox col-sm-3">
                        <label id="login-detail-checkbox" data-toggle="collapse" data-target="#login-form">
                            <input name="create-login-detail-checkbox" type="checkbox" checked="" /> {{ 'Create Login Details' |t }}
                        </label>
                    </div>



                </div>
                <div id="login-form" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <div class="form-group required">
                            <div class="col-sm-3"><label>{{ 'User Name' |t }}</label></div>
                            <div class="col-sm-9 "><input id="username" name="username" class="form-control" placeholder="{{ 'Username' |t }}" type="text" value=""></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3"><label>{{ 'Password' |t }} </label></div>
                            <div class="col-sm-9"><input id="password" name="pass" class="form-control" placeholder="{{ 'Password' |t }}" type="password"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"><label>{{ 'Confirm Password' |t }}</label></div>
                            <div class="col-sm-3"><input id="confirm-password" class="form-control" placeholder="{{ 'Conform Password' |t }} " type="password"></div>
                            <div class="col-sm-3" id="CheckPasswordMatch"></div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"><label>Status</label></div>
                            <div class="col-sm-3">
                                <select class="form-control" id="is-enabled" name="is-enabled">
                                    <option>{{ 'Enabled' |t }}</option>
                                    <option>{{ 'Disabled' |t }} </option>
                                </select>
                            </div>
                        </div>
                    </div><hr>
                </div> 

            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success" id="save-employee">{{ 'Save' |t }} </button>
                    </div>
                </div>
            </div>
        </form>
    </div>