
<div class="container-fluid">
    <div class="display-error"><p class="text-error"></p></div>
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form',{'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item active">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
    <section class="col-sm-9">
        {# #################################### Immigration Details Form Starts ######################################### #}
        <div class="panel panel-primary" id="immigration-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Immigration Detail' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="dependent-form" id="immigration-detail-form">
                <div class="panel-body">

                    <div class="display-error"> </div>

                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="id">
                        <input type="hidden" id="id" value="" name="id">
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Document' |t }}"> 
                            {{ 'Document' |t }}
                        </label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input class="form-control" id="document"  type="radio" name="document" value="passport">{{ 'Passport' |t }}

                            </label>
                            <label class="radio-inline">

                                <input class="form-control" id="document"  type="radio" name="document" value="visa"> {{ 'Visa' |t }}
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Number' |t }}"> 
                            {{ 'Number' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="number" placeholder="{{ 'Number' |t }}" type="text" name="number" value="">
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Issued Date' |t }}"> 
                            {{ 'Issued Date' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="issued-date"  type="text" name="issued_date" value="">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Expiry Date' |t }}"> 
                            {{ 'Expiry Date' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="expiry-date"  type="text" name="expiry_date" value="">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Eligible Status' |t }}"> 
                            {{ 'Eligible Status' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="elligible-status"  type="text" name="elligible_status" value="">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Issued By' |t }}"> 
                            {{ 'Issued By' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="issued-by"  type="text" name="issued_by" value="">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Eligible Review Date' |t }}"> 
                            {{ 'Eligible Review Date' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="eligible-review-date"  type="text" name="eligible_review_date" value="">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}"> 
                            {{ 'Comment' |t }}
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="comment" name="comment" value=""></textarea>
                        </div>

                    </div>

                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn  btn-success" id="save-immigration">{{ 'Save' |t }} </button>
                                <button type="submit" class="btn btn-info" id="cancel-immigration">{{ 'Cancel' |t }} </button>


                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        {# #################################### Immigration Details Form Ends ######################################### #}
        {# #################################### Immigration Details Grid Starts ######################################### #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Assigned Immigration Records' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn  btn-success" id="add-immigration">{{ 'Add' |t }} </button>
                    <button type="submit" class="btn btn-danger" id="delete-immigration" disabled>{{ 'Deletel' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>

                                <tr>
                                    <th><input type="checkbox" id="check-all"></th>
                                    <th>{{ 'Document' |t }}</th>
                                    <th>{{ 'Number' |t }} </th>
                                    <th> {{ 'Issued By' |t }} </th>
                                    <th>{{ 'Issued Date' |t }} </th>
                                    <th> {{ 'Expiry Date' |t }} </th>

                                </tr>

                            </thead>
                            {% for immigration in immigrations %}
                                <tr>
                                    <td><input type="checkbox" class="checkbox" name="delete_immigration_checkbox[]" value="{{ immigration.id }}"></td>
                                    <td id="document-{{ immigration.id }}"><a id="immigration-document" href="javascript:void(0)"> {{ immigration.document |e }}</a></td>
                                    <td id="number-{{ immigration.id }}">{{ immigration.number |e }} </td>
                                    <td id="issued-by-{{immigration.id }}"> {{ immigration.issued_by |e }} </td>
                                    <td id="issued-date-{{ immigration.id }}">{{ immigration.issued_date |e }} </td>
                                    <td id="expiry-date-{{ immigration.id }}"> {{ immigration.expiry_date |e }} </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# #################################### Immigration Details Grid Ends ######################################### #}
        {# #################################### Immigration Attachment Form Starts ######################################### #}
        <div class="panel panel-primary" id="immigration-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Attachments' |t }}</h3>
            </div>
             <form role="form" class="form-horizontal" enctype="multipart/form-data" id="dependent-form" id="immigration-attachment-form">
            <div class="panel-body">
               
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="immi-file-comment"  name="immigration-comment" value="" rows="5"></textarea>

                        </div>
                    </div>

               
            </div>
                        <div class="panel-body">
                             <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="upload-immigration-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-immigration-attachment">{{ 'Cancel' |t }} </button>
                        </div>
                    </div>
                        </div>
                         </form>
        </div>
        {# #################################### Immigration Attachment Form Ends######################################### #}
        {# #################################### Immigration Attachment Grid Starts ######################################### #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Attachments' |t }}
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-immigration-attachement">{{ 'Add' |t }} </button>
                    <button type="submit" class="btn btn-danger" id="delete-immigration-attachement">{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>{{ 'File Name' |t }}</th>
                                    <th>{{ 'Description' |t }} </th>
                                    <th> {{ 'Size' |t }} </th>
                                    <th> {{ 'Type' |t }}</th>
                                    <th>{{ 'Date Added' |t }}</th>
                                    <th>{{ 'Added By' |t }}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ 'Name' |t }}</td>
                                <td>{{ 'Relationship' |t }} </td>
                                <td> {{ 'Home Telephone' |t }} </td>
                                <td> {{ 'Mobile' |t }}</td>
                                <td>{{ 'Work Telephone' |t }}</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>                
        {# #################################### Immigration Attachment Grid Ends ######################################### #}
    </section>
</div>
