
<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form',{'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item active">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
    <section class="col-sm-9">
        <div class="panel panel-primary" id="emergency-contact-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Emergency Contacts' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="emergency-contact-form">
                <div class="panel-body">


                    <input type="hidden" id="id" value="{{ emergencyContactDetail.id.value }}" name="id">
                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="name"> 
                            {{ 'Name' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="name"  type="text" name="name" value="">

                        </div>
                        <label class="col-sm-2" for="relationship">
                            {{ 'Relationship' |t  }}
                        </label>

                        <div class="col-sm-4">
                            <input class="form-control" id="relationship"  type="text" name="relationship" value="">
                            {#
                                                            <select name="relationship" id="relationship">
                                                                {% for relationship in relationships %}
                                                                <option value="{{ relationship.name.value |e }}">{{ relationship.name.value |e }} </option>
                                                                
                                                            {%  endfor %}
                                                            </select>
                            #}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="home_phone"> 
                            {{ 'Home Telephone' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="home-phone"  type="text" name="home_phone" value="">  
                        </div>
                        <label class="col-sm-2" for="mobile">
                            {{ 'Mobile' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="mobile"  type="text" name="mobile" value="">  
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2" for="work_phone"> 
                            {{ 'Work Telephone' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="work-phone"  type="text" name="work_phone" value="">
                        </div>

                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="save-emergency-contact">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-emergency-contact">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>

                </div>
            </form>
        </div>
        {# ####################################### Emergency Contact  Grid Starts ###################### #}
        <div class="panel panel-primary" id="emergency-contact-grid">
            <div class="panel-heading">
                <h3 class="panel-title"> {{  'Emergency Contacts' |t }} </h3>
            </div>

            <div class="panel-body">
                <button type="submit" class="btn  btn-success" id="add-emergency-contact">{{ 'Add' |t }} </button>
                <button type="submit" class="btn  btn-danger" id="delete-emergency-contact" disabled>{{ 'Delete' |t }} </button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> <input type="checkbox" id="check-all"/></th>
                                <th>{{ 'Name' |t }}</th>
                                <th>{{ 'Relationship' |t }} </th>
                                <th> {{ 'Home Telephone' |t }} </th>
                                <th> {{ 'Mobile' |t }}</th>
                                <th>{{ 'Work Telephone' |t }}</th>

                            </tr>
                        </thead>
                        {%  for emergency_contact in emergency_contacts %}
                            <tr>
                                <td><input name="delete_emergency_contact_checkbox[]" type="checkbox"  value="{{ emergency_contact.id |e }}" class="checkbox"/></td>
                                <td id="name-{{ emergency_contact.id }}"><a id="emergency-contact-person-name" href="javascript:void(0)"> {{ emergency_contact.name |e }}</a></td>
                                <td id="relationship-{{ emergency_contact.id }}">{{ emergency_contact.relationship |e }}</td>
                                <td id="home-phone-{{ emergency_contact.id }}"> {{ emergency_contact.home_phone |e }} </td>
                                <td id="work-phone-{{ emergency_contact.id }}"> {{ emergency_contact.work_phone |e }}</td>
                                <td id="mobile-{{ emergency_contact.id }}">{{ emergency_contact.mobile |e }}</td>


                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>  
        </div>
        {# ####################################### Emergency Contact  Grid Ends ###################### #}
        {# ####################################### Emergency Contact Attachment Form Starts ###################### #}
        <div class="panel panel-primary" id="emegency-contact-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Add Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="dependent-form" id="job-attachment-form">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="emergency-contact-comment" name="comment" value="" rows="5"></textarea>

                        </div>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-success" id="upload-emergency-contact-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-emergency-contact-attachment">{{ 'Cancel' |t }} </button>



                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ####################################### Emergency Contact Attachment Form Ends ###################### #}
        {# ####################################### Emergency Contact Attachment Grid Starts ###################### #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{  'Attachments' |t }} </h3>
            </div>
            <div class="panel-body">
                <button type="submit" class="btn  btn-success" id="add-emergency-contact-attachement">{{ 'Add' |t }} </button>
                <button type="submit" class="btn btn-danger" id="delete-emergency-contact-attachement">{{ 'Delete' |t }} </button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>{{ 'File Name' |t }}</th>
                                <th>{{ 'Description' |t }} </th>
                                <th> {{ 'Size' |t }} </th>
                                <th> {{ 'Type' |t }}</th>
                                <th>{{ 'Date Added' |t }}</th>
                                <th>{{ 'Added By' |t }}</th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>{{ 'Name' |t }}</td>
                            <td>{{ 'Relationship' |t }} </td>
                            <td> {{ 'Home Telephone' |t }} </td>
                            <td> {{ 'Mobile' |t }}</td>
                            <td>{{ 'Work Telephone' |t }}</td>


                        </tr>
                    </table>
                </div>
            </div>  
        </div>
        {# ####################################### Emergency Contact Attachment Grid Ends ###################### #}
    </section>
</div>
