<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
             <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link"><span class="glyphicon glyphicon-user"></span>
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ path('pim.default_controller_employee_contact_form', {'employee': employee.id.value}) }}" class="list-group-item active" id="contact-detail-link">
                <span class="glyphicon glyphicon-phone"> </span> {{ 'Contact Details' |t }}
            </a>
            <a href="{{ path('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                <span class="glyphicon glyphicon-phone-alt"> </span> {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-user"></span> {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-plane"> </span> {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-briefcase"> </span> {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-usd"> </span> {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-bell"> </span> {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                <span class="glyphicon glyphicon-education"> </span> {{ 'Qualification' |t }}
            </a>
            
        </div>    
    </aside>
    <section class="col-sm-9">
        {# ######################################## Contact Form Starts ############################################## #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Contact Details' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="employee-contact-form">
                <div class="panel-body">


                    {% if contact_detail.id is not empty  %}
                        <input type="hidden" id="contact-id" value="{{ contact_detail.id }}" name="id">
                    {% endif %}
                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="street_1"> 
                            {{ 'Street 1' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="address-street" placeholder="{{ 'Address Street 1' |t }}" type="text" name="address_street" {%  if contact_detail.address_street is not empty %} value="{{ contact_detail.address_street }}" {% else %} value="" {% endif %} disabled>
                        </div>
                        <label class="col-sm-2" for="Street_2">
                            {{ 'Street 2' |t }}
                        </label>

                        <div class="col-sm-4">

                            <input class="form-control" id="address-street1" placeholder="{{ 'Address Street 2' |t }}" type="text" name="address_street1" {%  if contact_detail.address_street1 is not empty %} value="{{ contact_detail.address_street1 }}" {% else %} value="" {% endif %} disabled>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="city"> 
                            {{ 'City' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="city" placeholder="{{ 'City' |t }}" type="text" name="city" {%  if contact_detail.city is not empty %} value="{{ contact_detail.city }}" {% else %} value="" {% endif %} disabled>
                        </div>
                        <label class="col-sm-2" for="state">
                            {{ 'State' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="state" placeholder="{{ 'State' |t }}" type="text" name="state" {%  if contact_detail.state is not empty %} value="{{ contact_detail.state }}" {% else %} value="" {% endif %} disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2" for="zipcode"> 
                            {{ 'Zipcode' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="zipcode" placeholder="{{ 'Zipcode' |t }}" type="text" name="zipcode" {%  if contact_detail.zipcode is not empty %} value="{{ contact_detail.zipcode }}" {% else %} value="" {% endif %} disabled>
                        </div>

                        <label class="col-sm-2" for="country"> 
                            {{ 'Country' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select name="country" disabled>
                                {%  for country in countries %}
                                    <option value="country.name.value">
                                        {{ country.name.value }} 
                                    </option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <hr>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>{{ "Home Telephone" |e }}</label>
                        </div>
                        <div class="col-sm-4 ">
                            <input id="home-phone" name="home_phone" class="form-control" placeholder="" type="text" {%  if contact_detail.home_phone is not empty %} value="{{ contact_detail.home_phone }}" {% else %} value="" {% endif %} disabled>
                        </div>
                        <div class="col-sm-2">
                            <label>{{ 'Mobile' |t }} </label>
                        </div>
                        <div class="col-sm-4 ">
                            <input id="mobile" name="mobile" class="form-control" placeholder="{{ 'Mobile' |t }}" type="text" {%  if contact_detail.mobile is not empty %} value="{{ contact_detail.mobile }}" {% else %} value="" {% endif %} disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="btn btn-info"><span class="glyphicon glyphicon-phone-alt"></span>{{ 'Work Phone' |t }} </label>
                        </div>
                        <div class="col-sm-4 ">
                            <input id="work-phone" name="work_phone" class="form-control" placeholder="{{ 'Work Phone' |t }}" type="text" {%  if contact_detail.work_phone is not empty %} value="{{ contact_detail.work_phone }}" {% else %} value="" {% endif %} disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <hr>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>{{ "Work Email" |e }}</label>
                        </div>
                        <div class="col-sm-4 ">
                            <input id="work-email" name="work_email" class="form-control" placeholder="" type="text" {%  if contact_detail.work_email is not empty %} value="{{ contact_detail.work_email }}" {% else %} value="" {% endif %} disabled>
                        </div>
                        <div class="col-sm-2">
                            <label>{{ 'Other Email' |t }} </label>
                        </div>
                        <div class="col-sm-4 ">
                            <input id="other-email" name="other_email" class="form-control" placeholder="{{ 'Other Email' |t }}" type="text" {%  if contact_detail.other_email is not empty %} value="{{ contact_detail.other_email }}" {% else %} value="" {% endif %} disabled>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="edit-employee-contact">{{ 'Edit' |t }} </button>
                            <button type="submit" class="btn btn-success" id="save-employee-contact">{{ 'Save' |t }} </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ######################################## Contact Form Ends ############################################## #}
        {# ######################################## Attachment Form Starts ############################################## #}
         <div class="panel panel-primary" id="contact-detail-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Add Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="contact-form">
                <div class="panel-body">
<input type="hidden" value="contactDetail" name="attachment_type"/>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        
                        <div class="col-sm-9">
                            <input class="form-control" id="personal_detail_file"  type="file" name="attachment_file" value="">
                        </div>

                    </div>
                    <div class="form-group">


                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="immi-file-comment" placeholder="{{ 'Comment' |t }}" t name="comment" value="" rows="5"></textarea>
                            <hr>
                        </div>

                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="upload-contact-detail-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-contact-detail-attachment">{{ 'Cancel' |t }} </button>



                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ####################################### Contact Detail Attachment Form Ends ###################### #}
        {# ####################################### Contact Detail Attachment Grid Starts ###################### #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{  'Attachments' |t }} </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn  btn-success" id="add-attachement">{{ 'Add' |t }} </button>
                        <button type="submit" class="btn btn-danger " id="delete-attachement" disabled>{{ 'Delete' |t }} </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 hidden" id="success-alert">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <p id="display-message"></p>

                    </div>
                </div>
                    
                <div  class="row bg-info">
                    <div class="col-sm-1">
                        <input type="checkbox" class="check-all-file" id="check-all-file">
                        <br>
                    </div>
                    <div class="col-sm-2">
                        <strong> File Name</strong>
                    </div>
                    <div class="col-sm-2">

                        <strong> Description </strong>
                    </div>
                    <div class="col-sm-2">
                        <strong> Size </strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Type </strong>
                    </div>
                    <div class="col-sm-1">
                        <strong> Date Added </strong>
                    </div>
                    <div class="col-sm-1">
                        <strong>Added By</strong>
                    </div>
                </div>
                <div  id="replace-contact-attachment-grid">
                    {% if files is not empty %}
                        {% for file in files %}
{% set owner = file.getOwner() %}
                            <div class="row">

                                <div class="col-sm-1">
                                    <input type="checkbox" class="file-checkbox" name="file_checkbox[]" value="{{ file.fid.value |e }}">
                                </div>

                                <div class="col-sm-2">

                                    <p id="idofemp">  {{ file.filename.value[:12] |e }} </p>
                                </div>
                                <div class="col-sm-2">
                                    <a href="{{base_path}}pim/employee/attachment/downloadFile/{{ file.filename.value }} ">{{ file.filename.value |e  }}  {{ file.filename.value |e }}</a>

                                </div>
                                <div class="col-sm-1">
                                    <p id="bb"> {{ file.filesize.value |e }} </p>

                                </div>
                                <div class="col-sm-3">
                                    {% set type = file.filemime.value|split('/') %}
                                    {{ type|last }}

                                </div>

                                <div class="col-sm-2">
                                    {{ file.created.value | date("d F Y") }}

                                </div> 
                                <div class="col-sm-1">
                                    {{ file.uid.target_id |e }}

                                </div>
                            </div>

                        {% endfor %}
                  
                {% else %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ 'No records found' |e }}

                        </div>
                    </div>

                {% endif %}
                  </div>

            </div>
        </div>  

        {# ######################################## Emergency Contact Attachment Grid Ends ############################################## #}
    </section>
</div>
