<div class="fluid-container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'Employee Information' |t }}
            </h3>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">

                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="hidden" id="reporting-manager-id" value="">
                        <label for="name">Employee Name</label>
                        <input type="hidden" class="form-control" id="employee-id">
                        <input type="text" class="form-control"  placeholder="Type for hints ..." id="employee-name">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" placeholder="Type for hitns..." id="employee-id11">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="status">Employee Status</label>
                        <select class="form-control" name="employee_id" id="employee-id">
                            {% for status in employment_status %}
                                <option value="{{ status.name.value |e }}"> {{ status.name.value |e }} </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="include">Include</label>
                        <select class="form-control" name="include" id="include-type">
                            <option value="current-employee">Current Employee Only </option>
                            <option value="past-employee">Past Employee Only </option>
                            <option value="all-employee">All Employee</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="supervisor_name">Supervisor Name</label>
                        <input type="text" class="form-control" id="manager-name" name="manager_name" placeholder="{{ 'Type for hints...' |t }}">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="job_title">Job Title</label>
                        <select class="form-control" id="employee-job-titile">
                            {% for title in job_titles %}
                                <option value="{{ title.name.value |e }}"> {{ title.name.value |e }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sub_unit">Sub Unit</label>
                        <select class="form-control" id="sub-unit" name="sub-unit">
                            {% for unit in sub_units %}
                                <option value="{{ unit.name.value |e }}" > {{ unit.name.value |e}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select class="form-control" id="location" name="location">
                            {% for location in locations %}
                                <option value="{{ location.name.value |e }}" > {{ location.name.value |e}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>




            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-sm-3">
                        <button class="btn btn-success" id="search-employee">Search </button>
                        <button class="btn btn-info" id="reset-employee">Reset </button>
                    </div>
                </div>
            </div>
        </form>

    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <button class="btn btn-success" id="add"> Add </button>
            <button class="btn btn-danger" id="add"> Delete </button>
        </div>
        <div class="panel-body" id="">

            <div  class="row bg-info">
                <div class="col-sm-1">
                    <input type="checkbox" class="check-all-employee">
                    <br>
                </div>
                <div class="col-sm-1">
                    <strong> ID </strong>
                </div>
                <div class="col-sm-2">

                    <strong> Full Name </strong>
                </div>
                <div class="col-sm-2">
                    <strong> Job Title </strong>
                </div>
                <div class="col-sm-2">
                    <strong>Employment Status </strong>
                </div>
                <div class="col-sm-2">
                    <strong> Sub Unit </strong>
                </div>
                <div class="col-sm-2">
                    <strong>Supervisor </strong>
                </div>
            </div>
            <div id="employee-grid">
            {% if employees is not empty %}
                {% for employee in employees %}

                    <div class="row rr">

                        <div class="col-sm-1">
                            <input type="checkbox" class="employee-checkbox" name="employee_checkbox[]" value="{{ employee.id |e }}">
                        </div>

                        <div class="col-sm-1">

                            <p id="idofemp">  {{ employee.id |e }} </p>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{base_path}}pim/employee/viewPersonalDetail/{{ employee.id }} ">{{ employee.first_name |e  }}  {{ employee.last_name |e }}</a>

                        </div>
                        <div class="col-sm-2">
                            <p id="bb"> {{ employee.first_name.value |e }} </p>

                        </div>
                        <div class="col-sm-2">
                            {{ employee.first_name.value |e }}

                        </div>

                        <div class="col-sm-2">
                            {{ employee.first_name.value |e }}

                        </div>
                        <div class="col-sm-2">
                            {{ employee.first_name.value |e }}

                        </div>
                    </div>
                {% endfor %}
            {% else %}
            </div>
                <div class="col-sm-12">
                    {{ 'No records found' |e }}

                </div>

            {% endif %}

        </div>
            <div class="responsive-div"></div>

    </div>
</div>
