
<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form',{'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item active">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
    <section class="col-sm-9">
        <div class="panel panel-primary" id="job-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Job Detail' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="job-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="id">
                    {% endif %}
                    <input type="hidden" id="id" name="id" {% if job.id is not empty  %}value="{{ job.id }}" {% else %} value="" {% endif %}/>
                    <div class="form-group">
                        <label class="col-sm-2" for="job_title"> 
                            {{ 'Job Title' |t }}
                        </label>
                        <div class="col-sm-4">

                            <select class="form-control" id="job-title" name="job_titile" disabled>
                                {% for title in job_titles  %}
                                    <option  value="{{ title.name.value }}" {% if title.name.value == job.job_title %} selected {% endif %}> {{ title.name.value }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <label class="col-sm-2" for="{{ 'Job Specification' |t }}}">
                            {{ 'Job Specification' |t }}
                        </label>

                        <div class="col-sm-4">

                            <select class="form-control" id="job-specification" name="job_specification" disabled >
                                {% for specification in job_specifications %}
                                    <option value="{{ specification.name.value }}" {% if specification.name.value == job.job_specification %} selected {% endif %}>{{ specification.name.value }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="{{ 'employment-status' |t }}"> 
                            {{ 'Employment Status' |t }}
                        </label>
                        <div class="col-sm-4">

                            <select class="form-control" id="employment-status" name="employement_status" disabled>
                                {% for status in employment_status %}
                                    <option value="{{ status.name.value  }}" {% if status.name.value == job.employment_status%} selected {% endif %}>{{ status.name.value  }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <label class="col-sm-2" for="job_categoey">
                            {{ 'Job Category' |t }}
                        </label>
                        <div class="col-sm-4">

                            <select class="form-control" id="job-category" name="job_category" disabled>
                                {% for job_category in job_catagories %}
                                    <option value="{{ job_category.name.value }}" {% if job_category.name.value == job.job_category %} selected {% endif %}>{{ job_category.name.value  }}</option>
                                {% endfor %}
                            </select> 

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2" for="joined_date"> 
                            {{ 'Joined Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" id="joined-date"  type="text" name="joined_date" {% if job.joined_date is not empty %} value="{{ job.joined_date }}" {% else %} value="" {% endif %} disabled>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-2" for="sub_unit"> 
                            {{ 'Sub Unit' |t }}
                        </label>
                        <div class="col-sm-4">

                            <select class="form-control" id="sub-unit" name="sub_unit" disabled>
                                {% for sub_unit in sub_units %}
                                    <option value="{{ sub_unit.name.value }}" {%  if sub_unit.name.value == job.sub_unit %} selected {% endif %}>{{ sub_unit.name.value }}</option>
                                {% endfor %}
                            </select>

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="location"> 
                            {{ 'Location' |t }}
                        </label>
                        <div class="col-sm-4">

                            <select class="form-control" id="location" name="location" disabled>
                                {% for location in locations %}
                                    <option value="{{ location.name.value }}" {% if location.name.value == job.location %} selected {% endif %}> {{ location.name.value }}</option>
                                {% endfor %}
                            </select>

                        </div>


                    </div>

                    <div class="form-group">
                        <h3 class="col-sm-4"> {{ 'Employment Contract' |t }}</h3>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="contractstart_date"> 
                            {{ 'Start Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group"> 
                                <input class="form-control" id="contract-start-date"  type="text" name="contract_start_date" {% if job.contract_start_date is not empty %} value="{{ job.contract_start_date }}" {% else %} value="" {% endif %}disabled>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-2" for="contract_end_date"> 
                            {{ 'End Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" id="contract-end-date"  type="text" name="contract_end_date" {% if job.contract_end_date is not empty %} value="{{ job.contract_end_date }}" {% else %} value="" {% endif %}disabled>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="contract_detail_files"> 
                            {{ 'Contract Detail' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="contract-detail-file"  type="file" name="contract_detail_file" value="" disabled>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">

                    <div class="form-group text-center">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="save-job">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="edit-job">{{ 'Edit' |t }} </button>
                            <button type="submit" class="btn btn-danger" id="terminate-employee">{%  if employee.employee_status == 1 %}{{ 'Reactivate Employee' |t }}  {% else %} {{ 'Terminate Employement' |t }} {% endif %} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        {#  #######################  TERMINATE EMPLOYEE ################################## #}

        <div id="termination-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                            <h4 class="panel-titile">
                                {{ 'Terminate Employee' |t }}
                            </h4>
                        </div>
                        <form>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="form-group">
                                        <label for="termination-reason" class="col-sm-3"> Reason </label>
                                        <div class="col-sm-9">
                                            <select class="form-control"  name="termination_reason">
                                                <option> Contract Not Renewed</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="termination-date" class="control-label col-sm-3"> Date </label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input class="form-control" type="text" name="termination_date"/>  
                                                <span class="input-group-addon"> 
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="termination-note" class="control-label col-sm-3"> Note </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="5" name="termination_note"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="col-sm-12 text-center">
                                    <button type="button" class="btn btn-success" id="confirm-termination"> {{ 'Confirm' |t }} </button>
                                    <button type="button" class="btn btn-info" id="cancel-termination"> {{ 'Cancel' |t }} </button>
                                </div>
                            </div>
                        </form>
                    </div> {# end of panel #}  
                </div>
            </div>
        </div>



        {# ####################################### Emergency Contact Attachment Form Starts ###################### #}
        <div class="panel panel-primary" id="job-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Add Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="job-attachment-form">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>
                        <label class="col-sm-2" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-4">

                            <input class="form-control" id="immi-file-comment" placeholder="{{ 'Comment' |t }}" type="textarea" name="comment" value="" rows="5">

                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="upload-job-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-job-attachment">{{ 'Cancel' |t }} </button>



                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ####################################### Emergency Contact Attachment Form Ends ###################### #}
        {# ####################################### Emergency Contact Attachment Grid Starts ###################### #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{  'Attachments' |t }} </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-job-attachement">{{ 'Add' |t }} </button>
                    <button type="submit" class="btn btn-danger" id="delete-job-attachement">{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>{{ 'File Name' |t }}</th>
                                    <th>{{ 'Description' |t }} </th>
                                    <th> {{ 'Size' |t }} </th>
                                    <th> {{ 'Type' |t }}</th>
                                    <th>{{ 'Date Added' |t }}</th>
                                    <th>{{ 'Added By' |t }}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ 'Name' |t }}</td>
                                <td>{{ 'Relationship' |t }} </td>
                                <td> {{ 'Home Telephone' |t }} </td>
                                <td> {{ 'Mobile' |t }}</td>
                                <td>{{ 'Work Telephone' |t }}</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>  
        </div>
        {# ####################################### Emergency Contact Attachment Grid Ends ###################### #}
    </section>
</div>
