
<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form',{'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item active">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
    {# ################################################# Reporting details form statrs ############################# #}
    <section class="col-sm-9">
        <div class="panel panel-primary" id="reporting-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Reporting Detail' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="report-to-detail-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="id">

                    {% endif %}
                    <input type="hidden" id="reporting-manager-id" value="" name="reporting_manager_id">
                    <input type="hidden" id="id" value="" name="id">
                    <input type="hidden" id="reporting-manager-type" value="" name="reporting-manager-type">
                    <div class="form-group">
                        <label class="col-sm-2" for="name"> 
                            {{ 'Name' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="reporting-manager"  type="text" name="reporting_manager" value="" placeholder="{{ 'Type for hints...' |t }}">
                        </div>
                        <label class="col-sm-2" for="repoting_method"> 
                            {{ 'Reporting Method' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select name="reporting_method" id="reporting-method" class="form-control">
                                <option value="direct"> {{ 'Direct' |t  }}
                                <option value="indirect"> {{ 'Indirect' |t  }}
                                <option value="other"> {{ 'Other' |t  }}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success" id="save-reporting">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-reporting">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ################################################# Supervisors Grid statrs ############################# #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Assigned Supervisors' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-reporting">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger" id="delete-reporting" disabled>{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all"></th>
                                    <th>{{ 'Name' |t }}</th>
                                    <th>{{ 'Reporting Method' |t }} </th>


                                </tr>
                            </thead>
                            {% if managers is not empty %}
                                {% for manager in managers %}
                                    <tr>
                                        <td><input type="checkbox" name="select_all_menagers[]" class="checkbox" value="{{ manager.id }}"></td>
                                        <td id="reporting-manager-{{ manager.id }}"><a id="managers" href="javascript:void(0);">{{ manager.reporting_method }}</a></td>
                                        <td id="reporting-method-{{ manager.id }}">{{ manager.reporting_method }}</td>


                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">{{ 'No Managers added yet' |t }}</td>
                                    </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# ################################################# Supervisors Grid Ends ############################# #}
        {# ################################################# Subordinates Grid Starts ############################# #}

        {#  Subordinates #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Assigned  Subordinates' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-subordinate">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger" id="delete-subordinate" disabled>{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all-subordinates"></th>
                                    <th>{{ 'Name' |t }}</th>
                                    <th>{{ 'Reporting Method' |t }} </th>


                                </tr>
                            </thead>
                            {% if subordinates is not empty %}
                                {% for subordinate in subordinates %}
                                    <tr>
                                        <td id="{{ subordinate.id }}"><input type="checkbox" class="subordinate-checkbox" name="subordinate_reporting_checkbox[]" value="{{ subordinate.id }}"></td>
                                        <td id="reporting-manager-{{ subordinate.id }}" ><a id="subordinates" href="javascript:void(0)">{{ subordinate.reporting_method |e }}</a></td>
                                        <td id="reporting-method-{{ subordinate.id }}">{{ subordinate.reporting_method |e }} </td>


                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">{{ 'No Subordinates added yet' |t }}</td>
                                        
                                    </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>


        {# ################################################# Reporting details form Ends ############################# #}

        {# ################################################# Attachment form statrs ############################# #}
        <div class="panel panel-primary" id="reporting-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="report-to-attachment-form">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>
                        <div class="col-sm-9">

                            <textarea class="form-control" id="report-file-comment"  name="reporting-comment" value="" rows="5"></textarea>
                            <hr>
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success" id="upload-reporting-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-reporting-attachment">{{ 'Cancel' |t }} </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        {# ################################################# Attachment form Ends ############################# #}
        {# ################################################# Attachment Grid Starts ############################# #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Attachements' |t }} </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn b btn-success" id="add-reporting-attachement">{{ 'Add' |t }} </button>
                    <button type="submit" class="btn b btn-danger" id="delete-reporting-attachement">{{ 'Delete' |t }} </button>

                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>{{ 'File Name' |t }}</th>
                                    <th>{{ 'Description' |t }} </th>
                                    <th> {{ 'Size' |t }} </th>
                                    <th> {{ 'Type' |t }}</th>
                                    <th>{{ 'Date Added' |t }}</th>
                                    <th>{{ 'Added By' |t }}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ 'Name' |t }}</td>
                                <td>{{ 'Relationship' |t }} </td>
                                <td> {{ 'Home Telephone' |t }} </td>
                                <td> {{ 'Mobile' |t }}</td>
                                <td>{{ 'Work Telephone' |t }}</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {# ################################################# Attachment Grid Ends ############################# #}
    </section>
</div>
