
<div class="container-fluid">
    {% include 'side-menu.html.twig' %}
    <section class="col-sm-9">
        <div class="panel panel-primary" id="work-experience-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Work Experience' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="work-experience-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="id">
                    {% endif %}
                    <input type="hidden" id="id" value="" name="id">
                    <div class="form-group">
                        <label class="col-sm-2" for="company"> 
                            {{ 'Company' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="company" placeholder="{{ 'Company' |t }}" type="text" name="company" value="">
                        </div>

                        <label class="col-sm-2" for="job_title">
                            {{ 'Job Title' |t }}
                        </label>

                        <div class="col-sm-4">
                            <input class="form-control" id="job-title" placeholder="{{ 'Job Title' |t }}" type="text" name="job_title" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="from_date"> 
                            {{ 'From' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="from-date" type="text" name="from_date" value="">
                        </div>
                        <label class="col-sm-2" for="to_date">
                            {{ 'To ' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="to-date" type="text" name="to_date" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2" for="comment"> 
                            {{ 'Comment' |t }}
                        </label>


                        <div class="col-sm-4">
                            <textarea class="form-control" id="work-exp-comment"  name="comment" rows="5" value=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="save-work-experience">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-work-experience">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ############################################### End Work Experience ################################# #}
        {# ############################################### Work Experience grid ################################ #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Work Experience' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn t btn-success" id="add-work-experience">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger " id="delete-work-experience" disabled>{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all-work-exp"></th>
                                    <th>{{ 'Company' |t }}</th>
                                    <th>{{ 'Job title' |t }} </th>
                                    <th>{{ 'From' |t }}</th>
                                    <th>{{ 'To' |t }} </th>
                                    <th>{{ 'Comment' |t }}</th>
                                </tr>
                            </thead>
                            {%  if work_experiences is not empty %}
                                {% for experience in work_experiences %}
                                    <tr>
                                        <td><input type="checkbox" class="work-exp-checkbox" value="{{ experience.id }}" name="work_exp_checkbox[]"></td>
                                        <td id="company-{{ experience.id }}"><a id="work-exp" href="javascript:void(0);">{{ experience.company |e }}</a></td>
                                        <td id="job-title-{{ experience.id }}">{{ experience.job_title |e }} </td>
                                        <td id="from-date-{{ experience.id }}">{{ experience.from_date }}</td>
                                        <td id="to-date-{{ experience.id }}">{{ experience.to_date }} </td>
                                        <td id="work-exp-comment-{{ experience.id }}">{{ experience.comment }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6">{{ 'No work experience added yet' |t }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# ####################################### End Work Exp Grid ############################## #}

        {# ####################################### Add Education form starts  ###################### #}
        <div class="panel panel-primary" id="education-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Education Details' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="education-detail-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                    {% endif %}
                    <input type="hidden" id="id" value="" name="id">
                    <div class="form-group">
                        <label class="col-sm-2" for="level"> 
                            {{ 'Level' |t }}
                        </label>
                        <div class="col-sm-4">
                            {% for level in levels %}
                                <select name="level" id="level" class="form-control">
                                    <option value="{{ level.name.value |e }}">{{ level.name.value |e }}</option>

                                </select>
                            {% endfor %}
                        </div>

                        <label class="col-sm-2" for="institute">
                            {{ 'Institute' |t }}
                        </label>

                        <div class="col-sm-4">
                            <input class="form-control" id="institute" placeholder="{{ 'Institute' |t }}" type="text" name="institute" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="specialization"> 
                            {{ 'Specialization' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="specialization" type="text" name="specialization" value="">
                        </div>
                        <label class="col-sm-2" for="year">
                            {{ 'Year' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="specialized-year" type="text" name="year" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="start_date"> 
                            {{ 'Start Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="start-date" type="text" name="start_date" value="">
                        </div>
                        <label class="col-sm-2" for="end_date">
                            {{ 'End Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="end-date" type="text" name="end_date" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="gpa_score"> 
                            {{ 'GPA/Score' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="gpa-score" placeholder="{{ 'GPA/Score' |t }}" type="text" name="gpa_score"  value="">
                        </div>

                    </div>

                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="save-education">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-education">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>



        {# ####################################### Add Education form ends  ######################## #}
        {# ####################################### Education grid starts ###########################  #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Education Details' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-education">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger" id="delete-education" disabled>{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all-education"></th>
                                    <th>{{ 'Level' |t }}</th>
                                    <th>{{ 'Year' |t }} </th>
                                    <th>{{ 'GPA/Score' |t }}</th>
                                </tr>
                            </thead>
                            {% if educations is not empty %}
                                {% for education in educations %}
                                    <tr>
                                        <td id="{{ education.id  }}"><input type="checkbox" class="education-checkbox" name="check-all-education[]" value="{{education.id }}"></td>
                                        <td id="level-{{ education.id }}"><a id="education" href="javascript:void(0);">{{ education.level |e }}</a></td>
                                        <td id="year-{{ education.id }}">{{ education.year |e }}</td>
                                        <td id="gpa-score-{{ education.id }}">{{ education.gpa_score |e }}</td>
                                        <td id="institute-{{ education.id }}" class="hidden">{{ education.institute |e }} </td>
                                        <td id="specialization-{{ education.id }}" class="hidden">{{ education.specialization |e }}</td>

                                        <td id="start-date-{{ education.id }}" class="hidden">{{ education.start_date |e }} </td>
                                        <td id="end-date-{{ education.id }}" class="hidden">{{ education.end_date |e }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4"> {{ 'No education detail added' |t }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# ####################################### Education grid endss ###########################  #}
        {# ####################################### Skills Form Begins ###########################  #}
        <div class="panel panel-primary" id="skill-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Skills' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="skills-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="id">
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="skills"> 
                            {{ 'Skills' |t }}
                        </label>
                        <div class="col-sm-4">

                            <select name="skill" id="skill" class="form-control" name="skill">
                                {% for skill_master in skill_masters %}
                                    <option value="{{ skill_master.name.value |e }}"> {{ skill_master.name.value |e }} </option>
                                {% endfor %}
                            </select>

                        </div>

                        <label class="col-sm-2" for="year_of_exp">
                            {{ 'Year of Experience' |t }}
                        </label>

                        <div class="col-sm-4">
                            <input class="form-control" id="year-of-exp" placeholder="{{ 'Year of Experience' |t }}" type="text" name="year_of_exp" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="comment"> 
                            {{ 'Comment' |t }}
                        </label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="skill-comment"  rows="5" name="comment" value=""></textarea>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="save-skill">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-skill">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ####################################### Skills Form endss ###########################  #}
        {# ####################################### Skills Grid Starts ###########################  #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Skills' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-success" id="add-skill">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn  btn-danger" id="delete-skill" disabled>{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="skill-checkbox" id="check-all-skills"></th>
                                    <th>{{ 'Skills' |t }}</th>
                                    <th>{{ 'Years of Experience' |t }} </th>

                                </tr>
                            </thead>
                            {% if skills is not empty %}
                                {% for skill in skills %}
                                    <tr>
                                        <td><input type="checkbox" value="{{ skill.id }}" name="select-skill-checkbox[]" class="skill-checkbox"></td>
                                        <td id="skill-{{ skill.id |e }}"><a id="skill" href="javascript:void(0),">{{ skill.skill |e }}</a></td>
                                        <td id="year-of-exp-{{ skill.id }}">{{ skill.year_of_exp |e  }} </td>
                                        <td id="skill-comment-{{ skill.id }}" class="hidden">{{ skill.comment |e  }} </td>

                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3">{{ 'No Skills added yet' |t }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {# ####################################### Skills Grid endss ###########################  #}
        {# ####################################### Language Form Starts ###########################  #}
        <div class="panel panel-primary" id="language-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add Language Details' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="language-detail-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                    {% endif %}
                    <input type="hidden" id="language-id" value="" name="id">
                    <div class="form-group">
                        <label class="col-sm-2" for="language"> 
                            {{ 'Language' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select name="language" id="language" class="form-control">
                                {% for language in language_masters %}
                                    <option value="{{ language.name.value |e }}">{{ language.name.value |e }}</option>

                                {% endfor %}
                            </select>
                        </div>

                        <label class="col-sm-2" for="fluency">
                            {{ 'Fluency' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select name="fluency" id="fluency" class="form-control">
                                <option value="speaking">{{ 'Speaking' |t }}</option>
                                <option value="reading"> {{ 'Reading' |t }} </option>
                                <option value="writing">{{ 'Writing' |t }} </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="competency"> 
                            {{ 'Competency' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select name="competency" id="competency" class="form-control">
                                <option value="poor">{{ 'Poor' |t }}</option>
                                <option value="basic"> {{ 'Basic' |t }} </option>
                                <option value="good">{{ 'Good' |t }} </option>
                                <option value="mothertounge">{{ 'Mother Tongue' |t }} </option>
                            </select>
                        </div>
                        <label class="col-sm-2" for="comment">
                            {{ 'Comment' |t }}
                        </label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="language-comment"  rows="5" name="comment" value=""></textarea>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn  btn-success" id="save-language">{{ 'Save' |t }} </button>
                                <button type="submit" class="btn btn-info" id="cancel-language">{{ 'Cancel' |t }} </button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        {# ####################################### Language Formendss ###########################  #}

        {######################################### Language Grid Starts #########################  #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Languages' |t }}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn  btn-success" id="add-language">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger" id="delete-language" disabled>{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="check-all-languages"></th>
                                    <th>{{ 'Language' |t }}</th>
                                    <th>{{ 'Fluency' |t }} </th>
                                    <th>{{ 'Competency' |t }}</th>
                                    <th>{{ 'Comments' |t }} </th>

                                </tr>
                            </thead>
                            {% if languages is not empty %}
                                {% for language in languages %}
                                    <tr>
                                        <td><input type="checkbox" class="language-checkbox" name="select_language_checkbox[]" value="{{ language.id }}"></td>
                                        <td id ="language-{{ language.id }}"><a id="language" href="javascript:void(0);">{{ language.language |e }}</a></td>
                                        <td id="fluency-{{ language.id }}">{{ language.fluency |e }} </td>
                                        <td id="competency-{{ language.id }}">{{ language.competency |e }}</td>
                                        <td id="language-comment-{{ language.id }}">{{ language.comment |e }} </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5"> {{ 'No language detail Added yet' |t }} </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {# ############################################ Language Grid Ends ################################# #}


        {# ############################################ License form Starts ################################# #}     
        <div class="panel panel-primary" id="license-panel">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Add License Details' |t }} </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="license-detail-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="employee_id">
                    {% endif %}
                     <input type="hidden" id="license-id" value="" name="id">
                    <div class="form-group">
                        <label class="col-sm-2" for="license_type"> 
                            {{ 'License Type' |t }}
                        </label>
                        <div class="col-sm-4">
                            <select name="license_type" id="license-type" class="form-control">
                                <option value="{{ 'Professional License' |t }}">{{ 'Professional License' |t }}</option>
                                <option value="{{ 'Social work License' |t }}">{{ 'Social work License' |t }}</option>
                            </select>
                        </div>

                        <label class="col-sm-2" for="license_number">
                            {{ 'License Number' |t }}
                        </label>

                        <div class="col-sm-4">
                            <input class="form-control" id="license-number" type="text"  name="license_number" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="issued_date"> 
                            {{ 'Issued Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="issued-date" type="text"  name="issued_date" value=""> 
                        </div>
                        <label class="col-sm-2" for="expiry_date">
                            {{ 'Expiry Date' |t }}
                        </label>
                        <div class="col-sm-4">
                            <input class="form-control" id="expiry-date" type="text" name="expiry_date" value="">
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="save-license">{{ 'Save' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-license">{{ 'Cancel' |t }} </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ############################################ ALicense form Ends ################################# #}  
        {# ############################################ License grid Starts ################################# #}  
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'License' |t }} </h3>

            </div>
            <div class=""panel-body>
                <div class="panel-body">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-success" id="add-license">{{ 'Add' |t }} </button>

                        <button type="submit" class="btn btn-danger" id="delete-license" disabled>{{ 'Delete' |t }} </button>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="check-all-licenses"></th>
                                        <th>{{ 'License Type' |t }}</th>
                                        <th>{{ 'License Number' |t }}</th>
                                        <th>{{ 'Issued Date' |t }} </th>
                                        <th> {{ 'Expiry Date' |t }} </th>

                                    </tr>
                                </thead>
                                {% if licenses is not empty %}
                                    {% for license in licenses %}
                                <tr>
                                    <td><input type="checkbox" value="{{ license.id }}" name="license_checkbox[]" class="license-checkbox"</td>
                                    <td id="license-type-{{ license.id }}"><a href="javascript:void(0);" id="license">{{ license.license_type |e }}</a></td>
                                    <td id="issued-number-{{ license.id }}">{{ license.license_number |e }} </td>
                                    <td id="issued-date-{{ license.id }}">{{ license.issued_date |e }} </td>
                                    <td id="expiry-date-{{ license.id }}"> {{ license.expiry_date |e }} </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">{{ 'No Records Found.' |t }}</td>
                                    </tr>
                                    {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# ############################################ ALicense grid Ends ################################# #}  


        {# ############################################ Attachment form startss ################################# #}
        <div class="panel panel-primary" id="qualification-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Add Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data"  id="qualification-attachment-form">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name"  type="file" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="report-file-comment" placeholder="{{ 'Comment' |t }}"  name="comment" value="" rows="5"></textarea>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn  btn-success" id="upload-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-qualification-attachment">{{ 'Cancel' |t }} </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {# ############################################ Attachment form Ends ################################# #}                
        {# ############################################ Attachment Grid Starts ################################# #}             
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ 'Attachments' |t }} </h3>

            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <button type="submit" class="btn  btn-success" id="add-qulification-attachement">{{ 'Add' |t }} </button>

                    <button type="submit" class="btn btn-danger " id="delete-qualification-attachment">{{ 'Delete' |t }} </button>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>{{ 'File Name' |t }}</th>
                                    <th>{{ 'Description' |t }} </th>
                                    <th> {{ 'Size' |t }} </th>
                                    <th> {{ 'Type' |t }}</th>
                                    <th>{{ 'Date Added' |t }}</th>
                                    <th>{{ 'Added By' |t }}</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{ 'Name' |t }}</td>
                                <td>{{ 'Relationship' |t }} </td>
                                <td> {{ 'Home Telephone' |t }} </td>
                                <td> {{ 'Mobile' |t }}</td>
                                <td>{{ 'Work Telephone' |t }}</td>


                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {# ############################################ Attachment Grid Ends ################################# #}

    </section>
</div>
