
{% if files|length  > 1 %}
    {% for file in files %}
        <div class="row">
            <div class="col-sm-1"><input type="checkbox" class="file-checkbox" name="file_checkbox[]" value="{{ file.fid.value }}"></div>
            <div class="col-sm-1"><p>{{ ile.filename.value }} </p></div>
            <div class="col-sm-2"><a href="{{ base_path }}pim/employee/viewPersonalDetail/{{ file.fid.value}}"> {{ file.filename.value }}</a></div>
            <div class="col-sm-2"><p> {{ file..filename.value }} </p></div>
            <div class="col-sm-2">{{ file.filename.value }}</div>
            <div class="col-sm-2"> {{ file.ilename.value}}</div>
            <div class="col-sm-2">{{ file.filename.value }}</div>
        </div>';
    {% endfor %}
{% elseif files|length == 1  %}

    <div class="row">
        <div class="col-sm-1"><input type="checkbox" class="file-checkbox" name="file_checkbox[]" value="{{ files.fid.value }}"></div>
        <div class="col-sm-1"><p>{{ files.fid.value }} </p></div>
        <div class="col-sm-2"><a href="{{ base_path }}pim/employee/viewPersonalDetail/{{ files.fid.value}}"> {{ files.>filename.value }}</a></div>
        <div class="col-sm-2"><p> {{ files..filename.value }} </p></div>
        <div class="col-sm-2">{{ files.filename.value }}</div>
        <div class="col-sm-2"> {{ files.ilename.value}}</div>
        <div class="col-sm-2">{{ files.filename.value }}</div>
    </div>';
{%  else %}
    <div class="row ">
        <div class="col-sm-12">
            {{ 'No records found' |t }}
        </div>
    </div>
{% endif %}