
<div class="container">
  <h2>Manage Human Recource Management System</h2>
  <div class="list-group">
    {% for list in content %}  
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading"> {{ list.link }} </h4>
        <p class="list-group-item-text"> {{ list.description }} </p>
    </a>
    
    {% endfor %}
  </div>
   <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Personal Information Management (PIM)
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Add Employee</a></li>
    <li><a href="#">View Employee</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
</div>
