{#
/**
 * @file immigration.html.twig
 * Default theme implementation to present Immigration data.
 *
 * This template is used when viewing Immigration pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_immigration()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('immigration') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
