{#
/**
 * @file language.html.twig
 * Default theme implementation to present Language data.
 *
 * This template is used when viewing Language pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_language()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('language') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
