
<div class="container-fluid">
    <aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item active" id="employee-add-form-link"><span class="glyphicon glyphicon-user"></span>
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ path('pim.default_controller_employee_contact_form', {'employee': employee.id.value}) }}" class="list-group-item" id="contact-detail-link">
                <span class="glyphicon glyphicon-phone"> </span> {{ 'Contact Details' |t }}
            </a>
            <a href="{{ path('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                <span class="glyphicon glyphicon-phone-alt"> </span> {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-user"></span> {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-plane"> </span> {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-briefcase"> </span> {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-usd"> </span> {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                <span class="glyphicon glyphicon-bell"> </span> {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item">
                <span class="glyphicon glyphicon-education"> </span> {{ 'Qualification' |t }}
            </a>
            

        </div>    
    </aside>
    <section class="col-sm-9">


        <div id="display-message" class="success">
            <button type="button" class="close text-success" data-dismiss="modal" aria-hidden="true">&times; </button>

        </div>

        {# ######################################## Personal Detail Form starts ############################################## #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Personal Details </h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data" id="employee-edit-form">
                <div class="panel-body">


                    {% if employee.id.value is not empty  %}
                        <input type="hidden" id="employee-id" value="{{ employee.id.value }}" name="id">
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="{{ 'full-name' |t }}"> {{ 'Full Name' |t }}</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="first-name" placeholder="{{ 'First Name' |t }}" type="text" name="first-name" value="{{ employee.first_name.value }}" disabled>
                        </div>
                        <div class="col-sm-2">

                            <input class="form-control" id="middle-name" placeholder="{{ 'Middle Name' |t }}" type="text" name="middle-name" value="{{ employee.middle_name.value }}" disabled>

                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" id="last-name" placeholder="{{ 'Last Name' |t }}" type="text" name="last-name" value="{{ employee.last_name.value }}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="employee-id">{{ 'Employee ID' |t }}</label>
                        <div class="col-sm-4"><input class="form-control" id="employee-id" placeholder="{{ 'Employee ID' |t }} " type="text" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="file">{{ 'Photograph' |t }}</label>
                        <div class="col-sm-4">
                            <input  class="form-control" id="photograph" type="file" name="photograph">
                            <small>{{ 'Accepts jpg, .png, .gif up to 1MB. Recommended dimensions: 200px X 200px' |t }}</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>{{ "Driver\'s License Number" |e }}</label>
                        </div>
                        <div class="col-sm-4 ">
                            <input id="driver-license-number" name="driver_license" class="form-control" placeholder="" type="text" value="{{ employee.driver_license.value }}" disabled>
                        </div>
                        <div class="col-sm-2">
                            <label>{{ 'License Expiry Date' |t }} </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input  id="license-expiry-date" name="license_expiry_date" class="form-control" {% if employee.license_expiry_date.value is not empty %} value="{{ employee.license_expiry_date.value }}" {% else %} value="" {% endif %} type="text" disabled> 
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>{{ 'Gender' |t }}</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="radio-inline">


                                <input id="gender" class="form-control" name="gender" type="radio" value="male"  {% if employee.gender.value == "male" %} checked="checked" {% endif %} disabled>{{ 'Male' |t }}

                            </label>
                            <label class="radio-inline">

                                <input id="gender" class="form-control" name="gender" type="radio" value="female" {% if employee.gender.value == 'female' %} checked="checked"  {% endif %} disabled>{{ 'Female' |t }}

                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label> {{ 'Marital Status' |t }} </label>
                        </div>
                        <div class="col-sm-4">
                            <select id="marital-status" class="form-control" name="marital_status" disabled>
                                <option value="single"{% if employee.marital_status.value == "single" %} selected="selected" {% endif %} >{{ 'Single' |t }} </option>
                                <option value="married"  class="form-control"  disabled> {{ 'married' |t }}
                                <option value="single"{% if employee.marital_status.value == "other" %} selected="selected" {% endif %} > {{ 'Other' |t }} </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>{{ 'Nationality' |t }}</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="nationality" class="form-control" name="nationality" disabled>
                                {% for country in countries %}
                                    <option value="{{ country.name.value }}"  >{{ country.name.value }} </option>

                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label> {{ 'Date of Birth' |t }} </label> 
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group" id="birth-date">
                                <input  name="birth_date" class="form-control"  {% if employee.birth_date.value is not empty %} value="{{ employee.birth_date.value }}" {% else %} value="" {% endif %} type="text" disabled="disabled">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-info" id="edit-employee">{{ 'Edit' |t }} </button>
                            <button type="submit" class="btn btn-success " id="save-employee">{{ 'Save' |t }} </button>
                        </div>

                    </div>
                </div>
            </form>


        </div>

        {# ######################################## Personal Detail Form Ends ############################################## #}
        {# ######################################## Attachment Form Starts ############################################## #}
        <div class="panel panel-primary" id="personal-detail-attachment-panel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Add Attachments' |t }}</h3>
            </div>
            <form role="form" class="form-horizontal" enctype="multipart/form-data id="personal-detail">
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3" for="{{ 'Select File' |t }}"> 
                            {{ 'Select File' |t }}
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="personal_detail_file"  type="file" name="personal_detail_file" value="">
                        </div>

                    </div>
                    <div class="form-group">


                        <label class="col-sm-3" for="{{ 'Comment' |t }}">
                            {{ 'Comment' |t }}
                        </label>

                        <div class="col-sm-9">

                            <textarea class="form-control" id="immi-file-comment" placeholder="{{ 'Comment' |t }}" t name="comment" value="" rows="5"></textarea>
                            <hr>
                        </div>

                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" id="upload-personal-detail-attachement">{{ 'Upload' |t }} </button>
                            <button type="submit" class="btn btn-info" id="cancel-personal-detail-attachment">{{ 'Cancel' |t }} </button>



                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# ####################################### Personal Detail Attachment Form Ends ###################### #}
        {# ####################################### Personal Detail Attachment Grid Starts ###################### #}
        <div class="panel panel-primary" id="attachment-grid">
            <div class="panel-heading">
                <h3 class="panel-title"> {{  'Attachments' |t }} </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn  btn-success" id="add-attachement">{{ 'Add' |t }} </button>
                        <button type="submit" class="btn btn-danger " id="delete-attachement" disabled>{{ 'Delete' |t }} </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="success-alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                    </div>
                </div>
                <div  class="row bg-info">
                    <div class="col-sm-1">
                        <input type="checkbox" class="check-all-file" id="check-all-file">
                        <br>
                    </div>
                    <div class="col-sm-2">
                        <strong> File Name</strong>
                    </div>
                    <div class="col-sm-2">

                        <strong> Description </strong>
                    </div>
                    <div class="col-sm-2">
                        <strong> Size </strong>
                    </div>
                    <div class="col-sm-3">
                        <strong>Type </strong>
                    </div>
                    <div class="col-sm-1">
                        <strong> Date Added </strong>
                    </div>
                    <div class="col-sm-1">
                        <strong>Added By</strong>
                    </div>
                </div>
                <div  id="replace-attachment-grid">
                    {% if files is not empty %}
                        {% for file in files %}
{% set owner = file.getOwner() %}
                            <div class="row">

                                <div class="col-sm-1">
                                    <input type="checkbox" class="file-checkbox" name="file_checkbox[]" value="{{ file.fid.value |e }}">
                                </div>

                                <div class="col-sm-2">

                                    <p id="idofemp">  {{ file.filename.value[:12] |e }} </p>
                                </div>
                                <div class="col-sm-2">
                                    <a href="{{base_path}}pim/employee/viewPersonalDetail/{{ file.fid.value }} ">{{ file.filename.value |e  }}  {{ file.filename.value |e }}</a>

                                </div>
                                <div class="col-sm-1">
                                    <p id="bb"> {{ file.filesize.value |e }} </p>

                                </div>
                                <div class="col-sm-3">
                                    {% set type = file.filemime.value|split('/') %}
                                    {{ type|last }}

                                </div>

                                <div class="col-sm-2">
                                    {{ file.created.value | date("d F Y") }}

                                </div> 
                                <div class="col-sm-1">
                                    {{ file.uid.target_id |e }}

                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ 'No records found' |e }}

                        </div>
                    </div>

                {% endif %}

            </div>
        </div>  

        {# ####################################### Personal Detail Attachment Grid Ends ###################### #}               


    </section>

</div>
