<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> Ja gat Magar</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
