{#
/**
 * @file qualification.html.twig
 * Default theme implementation to present Qualification data.
 *
 * This template is used when viewing Qualification pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_qualification()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('qualification') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
