{#
/**
 * @file reporting_to.html.twig
 * Default theme implementation to present Reporting to data.
 *
 * This template is used when viewing Reporting to pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reporting_to()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('reporting_to') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
