{#
/**
 * @file salary.html.twig
 * Default theme implementation to present Salary data.
 *
 * This template is used when viewing Salary pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_salary()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('salary') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
