<aside class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> {{ employee.first_name.value }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ base_path}}{{ pim_dir }}/images/ellis.jpg" alt="default image" width="150px" height="150px">
            </div>
        </div>  
        <div class="list-group">
            <a href="{{ url('pim.default_controller_edit_employee_form',{'employee': employee.id.value }) }}" class="list-group-item" id="employee-add-form-link">
                {{ 'Personal Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_contact_form', {'employee': employee.id.value })}}" class="list-group-item" id="contact-detail-link">
                {{ 'Contact Details' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_emergency_contact_form',{'employee': employee.id.value })}} " class="list-group-item">
                {{ 'Emergency Contact' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_dependent_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Dependents' |t }} 
            </a>
            <a href="{{ url('pim.default_controller_employee_immigration_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Immigration' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_job_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Job' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_salary_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Salary' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_reporting_form',{'employee': employee.id.value }) }}" class="list-group-item">
                {{ 'Report-to' |t }}
            </a>
            <a href="{{ url('pim.default_controller_employee_qualification_form',{'employee': employee.id.value }) }} " class="list-group-item active">
                {{ 'Qualification' |t }}
            </a>
            <a href="#" class="list-group-item">
                {{ 'Member' |t }}
            </a>
        </div>    
    </aside>
