{#
/**
 * @file work_experience.html.twig
 * Default theme implementation to present Work experience data.
 *
 * This template is used when viewing Work experience pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_work_experience()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('work_experience') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
