{#
/**
 * @file pay_frequency.html.twig
 * Default theme implementation to present Pay frequency data.
 *
 * This template is used when viewing Pay frequency pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pay_frequency()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pay_frequency') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
