{#
/**
 * @file relationship.html.twig
 * Default theme implementation to present Relationship data.
 *
 * This template is used when viewing Relationship pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_relationship()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('relationship') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
