{#
/**
 * @file job_title.html.twig
 * Default theme implementation to present Job title data.
 *
 * This template is used when viewing Job title pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_job_title()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('job_title') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
