{#
/**
 * @file job_category.html.twig
 * Default theme implementation to present Job category data.
 *
 * This template is used when viewing Job category pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_job_category()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('job_category') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
