/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2016, 3:49:41 PM
    Author     : jagat
*/

.form-group.required label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: -15px;
}