{#
/**
 * @file sub_unit.html.twig
 * Default theme implementation to present Sub unit data.
 *
 * This template is used when viewing Sub unit pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sub_unit()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sub_unit') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
