{#
/**
 * @file language_master.html.twig
 * Default theme implementation to present Language Master data.
 *
 * This template is used when viewing Language Master pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_language_master()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('language_master') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
