{#
/**
 * @file employment_status.html.twig
 * Default theme implementation to present Employment status data.
 *
 * This template is used when viewing Employment status pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_employment_status()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('employment_status') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
