{#
/**
 * @file skill_master.html.twig
 * Default theme implementation to present Skill data.
 *
 * This template is used when viewing Skill pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_skill_master()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('skill_master') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
