{#
/**
 * @file education_level.html.twig
 * Default theme implementation to present Education level data.
 *
 * This template is used when viewing Education level pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_education_level()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('education_level') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
